<%!-- <.header>
  Place {@place.id}
  <:subtitle>This is a place record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/places/#{@place}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit place</.button>
    </.link>
  </:actions>
</.header>

<.list>
</.list>

<.back navigate={~p"/places"}>Back to places</.back> --%>
