<h1 class="h1">Change your email</h1>
<p class="p">
  You can change your email by visiting the URL below:
</p>
<a href={@url} class="button">
  Confirm New Email
</a>
<div class="divider"></div>
<p class="p" style="font-size: 14px; color: #64748B;">
  If you didn't request this change, please ignore this.
</p>
