<!DOCTYPE html>
<html lang="en" class="light scroll-smooth [scrollbar-gutter:stable]" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="CoolPlaces" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="Tour & Travels Agency Tailwind CSS Template" name="description" />
    <meta
      content="Tour, Travels, agency, business, corporate, tour packages, journey, trip, tailwind css, Admin, Landing"
      name="keywords"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href={~s"/images/favicon.ico"} />

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <!-- Main Css -->
    <%!-- <link
      href={~p"/assets/libs/@mdi/font/css/materialdesignicons.min.css"}
      rel="stylesheet"
      type="text/css"
    /> --%>
  </head>
  <body class="dark:bg-slate-900">
    <!-- Loader Start -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
<!-- Loader End -->        
<!-- Start -->

    {@inner_content}

    <div class="fixed bottom-3 end-3">
      <a
        href=""
        class="back-button size-8 inline-flex items-center justify-center tracking-wide border align-middle duration-500 text-base text-center bg-red-500/10 hover:bg-red-500 text-red-500 hover:text-white rounded-md"
      >
        <i data-feather="arrow-left" class="size-4"></i>
      </a>
    </div>
    
<!-- Switcher -->
    <div class="fixed top-1/4 -left-2 z-50">
      <span class="relative inline-block rotate-90">
        <input type="checkbox" class="checkbox opacity-0 absolute" id="chk" />
        <label
          class="label bg-slate-900 dark:bg-white shadow-sm dark:shadow-gray-800 cursor-pointer rounded-full flex justify-between items-center p-1 w-14 h-8"
          for="chk"
        >
          <i data-feather="moon" class="w-[18px] h-[18px] text-yellow-500"></i>
          <i data-feather="sun" class="w-[18px] h-[18px] text-yellow-500"></i>
          <span class="ball bg-white dark:bg-slate-900 rounded-full absolute top-[2px] left-[2px] w-7 h-7">
          </span>
        </label>
      </span>
    </div>
    
<!-- LTR & RTL Mode Code -->
    <div class="fixed top-[40%] -left-3 z-50">
      <a href="" id="switchRtl">
        <span class="py-1 px-3 relative inline-block rounded-b-md -rotate-90 bg-white dark:bg-slate-900 shadow-md dark:shadow-sm dark:shadow-gray-800 font-semibold rtl:block ltr:hidden">
          LTR
        </span>
        <span class="py-1 px-3 relative inline-block rounded-b-md -rotate-90 bg-white dark:bg-slate-900 shadow-md dark:shadow-sm dark:shadow-gray-800 font-semibold ltr:block rtl:hidden">
          RTL
        </span>
      </a>
    </div>
    <!-- LTR & RTL Mode Code -->

<!-- Back to top -->
    <a
      href="#"
      onclick="topFunction()"
      id="back-to-top"
      class="back-to-top fixed hidden text-lg rounded-md z-10 bottom-5 end-5 size-8 text-center bg-red-500/10 hover:bg-red-500 text-red-500 hover:text-white justify-center items-center"
    >
      <i class="mdi mdi-arrow-up"></i>
    </a>
    <!-- Back to top -->
  </body>
</html>
