name: CI/CD for Coolplaces
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-24.04 # Should match Prod environment exactly

    environment: production

    permissions:
      contents: 'read'
      id-token: 'write' # Required for Workload Identity Federation

    steps:
      - uses: actions/checkout@v4

      - name: Set up Elixir & OTP
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.18'
          otp-version: '27'

      - name: Install Dependencies
        run: |
          mix local.hex --force
          mix local.rebar --force
          mix deps.get --only prod

      - name: Build Assets
        run: |
          export MIX_ENV=prod
          npm install --prefix assets
          mix assets.deploy

      # --- THIS IS THE RELEASE CREATION STEP ---
      - name: Create Phoenix Release
        run: |
          export MIX_ENV=prod
          mix compile
          mix release --overwrite
        env:
          SECRET_KEY_BASE: ${{ secrets.SECRET_KEY_BASE }}

      - name: Archive Release
        run: tar -czf cool_places_rel.tar.gz -C _build/prod/rel/cool_places .

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        env: 
          GCP_POOL: 'projects/${{ secrets.GCP_PROJECT_NUMBER }}/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
        with:
          workload_identity_provider: ${{ env.GCP_POOL }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account: ${{secrets.GCP_SERVICE_ACCOUNT_EMAIL}}

      - name: Upload to GCP VM
        env:
          GCP_ZONE: ${{secrets.GCE_ZONE}}
          GCP_USER: ${{secrets.GCE_USER}}
          GCP_INSTANCE: ${{secrets.GCE_INSTANCE}}
        run: |
          gcloud compute scp cool_places_rel.tar.gz $GCP_USER@$GCP_INSTANCE:~/ --zone=$GCP_ZONE

      - name: Deploy and Restart Systemd
        env:
          GCP_ZONE: ${{secrets.GCE_ZONE}}
          GCP_USER: ${{secrets.GCE_USER}}
          GCP_INSTANCE: ${{secrets.GCE_INSTANCE}}
        run: |
          gcloud compute ssh $GCP_USER@$GCP_INSTANCE --zone=$GCP_ZONE --command="
            mkdir -p /srv/cool_places
            tar -xzf ~/cool_places_rel.tar.gz -C /srv/cool_places
            rm ~/cool_places_rel.tar.gz
            sudo systemctl restart coolplaces.service
          "